body {
	background-color: rgba(0, 255, 172, 0.4);
}

#homebutton{
	display: block;
	color:black;
	width: 192px;
}

h1 {
	background-color: rgba(0,180,0,0);
	font-family: "JetBrains Mono";
	font-size: 28px;
	position: absolute;
	top: -10px;
	left: 14px;
	z-index:1;
	outline-style: none;
	width:192px;
}

h1:hover {
	outline-style: solid;
}

#shopbutton {
	display: block;
	width: 36px;
	height: 36px;
	position: fixed;
	left: 240px;
	top: 18px;
	color:black;
	text-decoration: none;
}
#faqbutton {
	display: block;
	width: 36px;
	height: 36px;
	position: fixed;
	left: 330px;
	top: 18px;
	color:black;
	text-decoration: none;

}
#contactbutton {
	display:block;
	width: 36px;
	height: 36px;
	position:fixed;
	left: 400px;
	top: 18px;
	color:black;
	text-decoration: none;
}
