html {
	font-family: "Azeret Mono";
	background-color: #0059b3;
}

p, li {
	font-size: 20px;
	text-align: left;
	margin-left: 20px;
}

h1 {
	font-size: 36px;
	font-family: "Kaisei Decol", serif;
	text-align: center;
	text-shadow: 2px 2px 1px black;
	color:#00ffff;
}

body {
	width:1000px;
	margin: 0 auto;
	border: 10px solid #003366;
	background-color: #b3d9ff;
}

img {
	display:block;
	margin: 0 auto;

}
